
.noto-serif-primary {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.inter-primary{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
/* shared styles */
body{
    background-color: #F5F8FF;
}
.container{
    max-width: 1140px;
    margin:0 auto;
}
.btn-primary{
    background-color: #E95A08;
    color: #FFFFFF;
    border: none;
}
.btn-primary:hover{
    background: #000000;
    box-shadow: 0 6px 22px rgba(233,90,8,0.18);
}
/* navbar styles */
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 120px;
}
.nav-menu ul{
    display: flex;
    gap: 48px;
}
.nav-element{
    display: flex;
    gap: 48px;
}
.nav-menu ul li{
    list-style: none;
}
.nav-menu ul li a{
    text-decoration: none;
}
.nav-link-home{
    font-weight: 700;
    font-size: 1rem;
    color: #252432;
}
.nav-link-shop, .nav-link-about{
    font-weight: 400;
    font-size: 1rem;
    color: #8987A1;
}
.nav-cart{
    font-weight: 400;
    font-size: 1rem;
    color: #000000;
}
/* banner section */
.banner{
    display: flex;
    justify-content: space-between;
    margin-bottom: 120px;
}
.banner-content{
    padding-top: 162px;
}
.banner-header{
    font-weight: 700;
    font-size: 4rem;
    padding-bottom: 13px;
}
.always{
    color: #000000;
}
.fresh{
    color: #E95A08;
}
.side-text{
    font-weight: 400;
    font-size: 1.3rem;
    color: rgba(0, 0, 0, 0.5);
}
.banner-img img{
    padding-top: 106px;
}
/* plant-section */
.plant-heading, .deal-header{
    justify-content: center;
    align-items: center;
    text-align: center;
}
.plant-header{
    font-weight: 700;
    font-size: 3.1rem;
    margin-bottom: 16px;
}
.our{
    color: #E95A08;
}
.plant{
    color: #000000;
}
.plant-text{
    font-weight: 400;
    font-size: 1.3rem;
    color: rgba(0, 0, 0, 0.5);
    margin-bottom: 49px;
}
.card-item{
    background-color: #FFFFFF;
    width: 270px;
    height: 484.94px;
}
.card-item img{
    width: 100%;
}
.lily{
    font-weight: 500;
    font-size: 1.3rem;
    color: #111111;
    margin-top: 30px;
    margin-bottom: 20px;
}
.usd{
    font-weight: 700;
    color: #111111;
    font-size: 1.3rem;
}
.item-text{
    text-align: center;
}
.card-item button{
    width: 270px;
    height: 50px;
    font-weight: 600;
    font-size: 1rem;
}
.plant-card{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    row-gap: 30px;
    margin-bottom: 210.12px;
}
.break{
    display: none;
}
/* plants lover section */
.plants-lover-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 133.87px;
}
.plant-img{
    width: 540px;
    height: 570px;
}
.plants-lover-header{
    font-weight: 700;
    font-size: 3.1rem;
    color: #000000;
}
.plants-lover-text{
    font-weight: 400;
    font-size: 1.3rem;
    color: rgba(0, 0, 0, 0.5);
}
.plants-lover-text div{
    display: flex;
    gap: 10px;
}
.plants-lover-img{
    position: relative;
}
.badge{
    width: 286px;
    height: 286px;
    position: absolute;
    top: -130px;
    right: -100px;
}
.lover-break{
    display: none;
}
/* latest deal section */
.latest-deal-heading{
    font-weight: 700;
    font-size: 3.1rem;
    margin-bottom: 16px; 
}
.deal-header{
    margin-bottom: 120px;
}
.latest-deal-card{
    display: flex;
    gap: 28px;
    margin-bottom: 120px;
}
.deal-card-left{
    display: grid;
}
.deal-card-left img{
    border-radius: 14px;
    width: 367px;
    height: 202px;
    row-gap: 25px;
    color: #C8C8C8;
}
.left-top, .left-bottom{
    position: relative;
}
.overlay-1, .overlay-2{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.4);
  justify-content: center;
  align-items: center;
  border-radius: 14px;  
  height: 202px;
}
.overlay-content-1, .overlay-content-2{
    text-align: center;
    color: #FFFFFF;
    margin-top: 65px;
}
.overlay-content-1 p, .overlay-content-2 p{
    font-weight: 700;
    font-size: 1.25rem;
}
.overlay-content-1 a, .overlay-content-2 a{
    color: #FFFFFF;
    font-weight: 600;
    font-size: 1rem;
    margin: 0;
}
.deal-card-right{
    position: relative;
}
.deal-card-right img{
    height: auto;
    border-radius: 22px;
}
.overlay{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.4);
    justify-content: center;
    align-items: center;
    border-radius: 22px;
    height: 424px;
}
.overlay-content{
    text-align: center;
    color: #FFFFFF;
    margin-top: 172.13px;
}
.overlay-content p{
    font-weight: 700;
    font-size: 2.5rem;
    margin: 0 auto 15px auto;
}
.overlay-content a{
    color: #FFFFFF;
    font-weight: 600;
    font-size: 1.75rem;
    margin: 0;
}
/* join section */
.join-section{
    background-image: url(../assets/news-letter-bg.png);
    height: 533px;
    text-align: center;
    background-size: cover;
    background-position: center;
}
.join-heading{
    font-weight: 700;
    font-size: 3.1rem;
    color: #FFFFFF;
    padding-top: 199px;
    padding-bottom: 23px;
}
.join-content{
    display: flex;
    justify-content: center;
    height: 50px;
}
.input-email{
    padding: 1rem 30rem 1.16rem 1rem;
    border: none;
}
.join-content button{
    padding: 17px 50px;
    background-color: #E95A08;
    border: none;
    color: #FFFFFF;
    font-weight: 600;
    font-size: 1rem;
    width: 186px;
    height: 50px;
}
.join-content button:hover{
    background-color: #000000;
    cursor: pointer;
}