@media screen and (max-width:576px) {
    .navbar,.banner{
        max-width: 361px;
        margin: 0 auto;
    }
    .nav-element{
        display: none;
    }
    .banner{
        display: flex;
        flex-direction: column-reverse;
    }
    .banner-img img{
        width: 393px;
        height: 245px;
    }
    .banner-content{
        padding-top: 28px;
        margin-bottom: 65px;
    }
    .banner-header{
        font-size: 1.5rem;
    }
    .side-text{
        font-size: 0.8rem;
        line-height: auto;
    }
    /* plant-section */
    .plant-section{
        margin-bottom: 41.5px;
    }
    .plant-header{
        font-size: 1.5rem;
    }
    .plant-text{
        font-size: 0.8rem;
    }
    .plant-card{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        padding-left: 20px;
        margin-bottom: 42px;
    }
    .lily{
        font-size: 1rem;
    }
    .usd{
        font-size: 1rem;
    }
    .card-item img{
        width: 171px;
        height: 196.5px;
    }
    .card-item button{
        width: 171px;
    }
    .plant-heading{
        text-align: center;
    }
    .card-item{
        width: 171px;
        height: 340.5px;
    }
    .show{
        display: none;
    }
    .break{
        display: block;
    }
    /* plants-lover-section */
    .badge{
        display: none;
    }
    .plants-lover-section{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        width: 361px;
        height: 648px;
    }
    .plant-img{
        width: 358px;
        height: 396px;
    }
    .plants-lover-header{
        font-size: 1.5rem;
        margin-top: 18px;
    }
    .plants-lover-header br{
        display: none;
    }
    .plants-lover-text div p{
        font-size: 0.875rem;
    }
    .love{
        display: none;
    }
    .lover-break{
        display: block;
    }
    .plants-lover-content{
        margin-bottom: 105px;
    }
    /* latest deal section */
    .deal-header{
        margin-bottom: 51.5px;
    }
    .latest-deal-heading{
        font-size: 1.5rem;
    }
    .latest-deal-card{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        row-gap: 20px;
    }
    .deal-card-left img, .overlay-1, .overlay-2, .deal-card-right img, .overlay{
        width: 361px;
        height: 184.5px;
    }
    .overlay-content{
        text-align: center;
        margin-top: 60px;
    }
    .overlay-content p{
        font-size: 1.25rem;
    }
    .overlay-content a{
        font-size: 1rem;
    }
    .deal-card-left, .deal-card-right{
        margin: 0 auto;
    }
    .left-bottom{
        margin-top: 20px;
    }
    /* join section */
    .join-section{
        width: 414.4px;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 276px;
        margin: 0;
        margin-top: -80px;
    }
    .overlay-4{
        width: 414.4px;
    }
    .join-content{
        padding-left: 36px;
        padding-right: 36px;
    }
    .join-heading{
        font-size: 1.25rem;
        padding-top: 110.5px;
    }
    .input-email{
        padding: 16px 97.6px 16px 20px;
    }
    .join-content button{
        width: 103px;
        height: 50px;
        padding: 17px 12px;
    }
    /* footer section */
    .footer-section{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        padding: 50px 14px 50px 20px;
    }
    .footer-left p{
        font-size: 1rem;
    }
    .foot{
        display: none;
    }
}